<h1>Post : {{model.title}}</h1>

{{#if isEditing}}

  <div class='col-md-4 border'>
    <form {{action 'save' on='submit'}}>
      <dl>
        <dt>Body:<br> {{textarea value=model.body cols='40' rows='6'}}</dt>
      </dl>
      <div class = 'row'>
        <button type='submit' class ='btn btn-primary'>Done</button>
        <button {{action "cancel"}}>Cancel</button>
      </div>
    </form>
  </div>

{{else}}

  <form {{action 'edit' }}>
    <button type='submit' class='btn btn-primary'>Edit</button>
    <button type='delete' class= 'btn btn-primary' {{action 'delete'}}>Delete</button>
  </form>
  <h4>{{model.body}}</h4>
  <div>{{#link-to 'posts'}}back to all Posts{{/link-to}}</div>

{{/if}}

{{outlet}}
