<h1 class='post-edit-display-title'>{{displayTitle}}</h1>

{{#if isEditing}}
  <div class='post-edit'>
    <form {{action 'save' on='submit'}}>
      <section>
      <div>{{model.id}}</div>
        <div class="title">Title:<br> {{textarea value=model.title cols='40' rows='1'}}</div>
        <div class="body">Body:<br> {{textarea value=model.body cols='40' rows='6'}}</div>
      </section>
      <div class = 'row'>
        {{#if (eq mode 'edit')}}
          <button id='btn-update' type='submit' class ='btn btn-primary'>Update</button>
        {{else}}
          <button id='btn-add' type='submit' class='btn btn-primary'>Add</button>
        {{/if}}

        <button id='btn-cancel' {{action "cancel"}}>Cancel</button>
      </div>
    </form>
  </div>



{{else}}
  <div class="post-edit-display">
    <form {{action 'edit' }}>
      <button id='btn-edit' type='submit' class='btn btn-primary'>Edit</button>
      <button id='btn-delete' type='delete' class= 'btn btn-primary' {{action 'delete'}}>Delete</button>
    </form>
    <h4 class="post-edit-display-body">{{model.body}}</h4>
    <div>{{#link-to 'posts'}}back to all Posts{{/link-to}}</div>
  </div>
{{/if}}



